<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CDC IIT (ISM)</title>
    <!-- favicon -->
    <link rel="icon" href="images/ism.png">
    <!-- fontawesome and bootstrap -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- customCss -->
    <link rel="stylesheet" href="dashboard.css">
  </head>
  <body>

    <!-- navbar -->
    <nav class="navbar navbar-expand-lg ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="images/ism.png" alt="" class="logo">
      <b>CDC IIT (ISM)</b></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">



      </ul>
      <form class="d-flex ">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
        <button type="button" class="btn btn-warning">Sign Out</button>
      </form>
    </div>
  </div>
</nav>





<div class="container-cover d-flex m-0 p-0" >
<!-- sidebar -->
  <div class="d-flex flex-column flex-shrink-0 p-3 bg-light sidebar justify-content-start" style="width: 280px; height:100vh;display:inline-block ;">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
    <span class="fs-4">Sidebar</span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a href="#" class="nav-link active" aria-current="page">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
        Home
      </a>
    </li>
    <li>
      <a href="#" class="nav-link link-dark ">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
        Dashboard
      </a>
    </li>
    <li>
      <a href="#" class="nav-link link-dark">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
        Orders
      </a>
    </li>
    <li>
      <a href="#" class="nav-link link-dark">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
        Products
      </a>
    </li>
    <li>
      <a href="#" class="nav-link link-dark">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
        Customers
      </a>
    </li>
  </ul>
  <hr>

  </div>

  <!-- mainbody -->

    <div class="main-content" style="width:100% ; display:inline-block ;">
      <div class="options">

        <div class="btn-custom  btn p-100 m-10">
          Add Internship
        </div>

        <div class="btn-custom  btn p-100 m-100">
          Add Placement
        </div>

      </div>

      <div class="">
        <h3 style="margin:15px; "> Your Entries</h3>

        <div class="data-container">
            <div class="">
              Name
            </div>
            <div class="">
              Name
            </div>
            <div class="">
              Name
            </div>
            <button type="button" class="btn btn-success btn-sm">Active</button>
            <button type="button" class="btn btn-success btn-sm"> <i></i> Edit</button>
            <button type="button" class="btn btn-success btn-sm"> <i></i> Download</button>

        </div>

        <div class="data-container">
            <div class="">
              Name
            </div>
            <div class="">
              Name
            </div>
            <div class="">
              Name
            </div>
            <button type="button" class="btn btn-success btn-sm">Active</button>
            <button type="button" class="btn btn-success btn-sm"> <i></i> Edit</button>
            <button type="button" class="btn btn-success btn-sm"> <i></i> Download</button>

        </div>

        <div class="data-container">
            <div class="">
              Name
            </div>
            <div class="">
              Name
            </div>
            <div class="">
              Name
            </div>
            <button type="button" class="btn btn-success btn-sm">Active</button>
            <button type="button" class="btn btn-success btn-sm"> <i></i> Edit</button>
            <button type="button" class="btn btn-success btn-sm"> <i></i> Download</button>

        </div>

        <div class="data-container">
            <div class="">
              Name
            </div>
            <div class="">
              Name
            </div>
            <div class="">
              Name
            </div>
            <button type="button" class="btn btn-success btn-sm">Active</button>
            <button type="button" class="btn btn-success btn-sm"> <i></i> Edit</button>
            <button type="button" class="btn btn-success btn-sm"> <i></i> Download</button>

        </div>


        <div class="data-container">
            <div class="">
              Name
            </div>
            <div class="">
              Name
            </div>
            <div class="">
              Name
            </div>
            <button type="button" class="btn btn-success btn-sm">Active</button>
            <button type="button" class="btn btn-success btn-sm"> <i></i> Edit</button>
            <button type="button" class="btn btn-success btn-sm"> <i></i> Download</button>

        </div>


        <div class="data-container">
            <div class="">
              Name
            </div>
            <div class="">
              Name
            </div>
            <div class="">
              Name
            </div>
            <button type="button" class="btn btn-success btn-sm">Active</button>
            <button type="button" class="btn btn-success btn-sm"> <i></i> Edit</button>
            <button type="button" class="btn btn-success btn-sm"> <i></i> Download</button>

        </div><div class="data-container">
            <div class="">
              Name
            </div>
            <div class="">
              Name
            </div>
            <div class="">
              Name
            </div>
            <button type="button" class="btn btn-success btn-sm ">Active</button>
            <button type="button" class="btn btn-success btn-sm"> <i></i> Edit</button>
            <button type="button" class="btn btn-success btn-sm"> <i></i> Download</button>

        </div>
      </div>
    </div>
</div>











  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="dashboard.js" charset="utf-8"></script>
  </body>
</html>






<!-- // #106DEA -->
